*, ::after, ::before {
  box-sizing: border-box;
}

header {
  display: block;
  font-family: 'Roboto', sans-serif;
}

.jumbotron {
  margin: 0;
  background: #009EDB;
  color: #fff;
  text-align: center;
}

.navbar-custom {
  background: #009EDB;
}

body {
  background: #009EDB;
  font-family: 'Roboto', sans-serif;
}

.container-custom {
  background: #fff;
  color: black;
}